.container {
    padding: 0;
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;

}

.label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 0.8em;
    margin-right: 0.8em;
}

.button {
    width: 100%;
    height: 3rem;
    background-color: #00bcd4;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0 0 2rem 0;
}

.button:hover {
    background-color: #00acc1;
}

.button:active {
    background-color: #0097a7;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.input {
    width: 30rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: #9e9e9e;
}

.input:focus::placeholder::after {
    content: attr(data-placeholder);
    color: #00bcd4;
}

.form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textarea {
    width: 30rem;
    height: 15rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.textarea:focus {
    outline: none;
}

.textarea::placeholder {
    color: #9e9e9e;
}

.textarea:focus::placeholder::after {
    content: attr(data-placeholder);
    color: #00bcd4;
}

.select {
    width: 6rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.option {
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.option:focus {
    outline: none;
}

.option::placeholder {
    color: #9e9e9e;
}

.option:focus::placeholder::after {
    content: attr(data-placeholder);
    color: #00bcd4;
}

.numbers_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.4em;
}

.time {
    width: 7rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.deadline {
    width: 15rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}