.active_resource {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background: pink;
    justify-content: center;
}

.resource {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 90px;
    padding: 2rem;
    position: relative;
    min-width: 350px;
    margin: 0 4rem;
    min-height: 100px;
    background: rgb(248, 248, 199);
    border-radius: 40px;
    box-shadow: 0px 3px 30px 1px rgba(11, 98, 145, 0.75);
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0 2rem 0;
    text-align: center;
}

.resource_title {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
    text-align: center;
}

.description {
    font-size: 1.2rem;
    margin: 0 0 0.8rem 0;
    white-space: break-spaces;
}

.link {
    font-size: 1rem;
    text-decoration: underline;
    margin: 0 0 1rem 0;
}