.action_buttons{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-left: auto;
}
.delete{
    background-color: #f44336;
    color: #fff;
    height: 2rem;
    width: 2rem;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 4px 3px 5px 0px rgba(11, 98, 145, 0.75);
}
.edit{
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #ff9800;
    color: #fff;
    height: 2rem;
    width: 2rem;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 4px 3px 5px 0px rgba(11, 98, 145, 0.75);
}